<!-- !누르기 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title> 
    <!-- 백엔드에서 적은 rander에 적은 키,값을 불러오기 위해 title사용 -->
</head>
<body>
    ejs 파일로 만든 html
    <img src="/static/img/cat.jpg">

    <!-- 자바스크립트 코드를 사용하기 위해 <% %> 사용 해야함 -->
    <!-- 한줄 내에 열리고 닫히는게 다 있어야 한다.  -->
    <% for(var i = 0; i<5; i++) { %>    <!-- {열림으로 끝남 -->
        <div>안녕<%=i+1%></div>  <!-- html태그 내에서 변수 출력하고 싶을때 -->
    <% } %>
        <!-- }닫힘으로 끝남 -->
    <!-- 따라서 열림과 닫힘 사이의 내용을 반복 하겠다 -->

    <% for(var i = 0; i< data.length; i++) { %>    <!-- i의 크기를 index.js의 data의 길이 만큼으로 제한 함 -->
        <div>안녕<%=data[i]%></div>     <!--  index.js의 data를 i로 불러옴 -->
    <% } %>

    <!-- span태그는 js 형식이 아닌데 왜 <% %>를 썼을까??????????? -->
    <div style="color:red;"><%="<span style='color:blue'>안녕</span>"%>하세요</div>
    <!-- '=':변수값을 출력할 때 사용 (span 태그를 태그로 인식하지 못함) -->
    <div style="color:red;"><%-"<span style='color:blue'>안녕</span>"%>하세요</div>
    <!-- '-' span 태그를 html 태그로 인식 -->


    <%-include("test.ejs")%> 
    <!-- ejs끼리 파일 불러오기 -->
    <!-- 예) navbar같이 모든 홈페이지에서 사용하는경우 -->



    <!-- <% // if(true) { %>

    <% // } else if if(true) { %>   
    <% // } else {%>
    <% // } %>       
     -->

</body>
</html>